.SearchBox-input {
  font-family: 'Helvetica Neue';
  font-weight: 100;
  padding: 8px;
  font-size: 24px;
  text-overflow: ellipsis;
  width: 40%;
  margin: 40px;
  box-shadow: 0 0 4px;
  border: none;
}